  table{
    border: 1px solid grey;
  }
  table tr{
    border: 1px solid grey;
  }
  table tbody tr td a{
    font-size: 14px;
  }
  table tbody tr:hover{
    background-color: #ffff90 !important;
  }
/*classes only*/
  .info-body-md{
    /*height: 500px;*/
    background-color: #ffffc9; 
    border: 1px solid rgba(0, 0, 0, 0.20); 
    margin-top: 1em;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inherit 0 1px 10px 3px rgba(0, 0, 0, 0.075);
    }
  .info-body-sm{
    background-color: #ffffc9; 
    border: 1px solid rgba(0, 0, 0, 0.20); 
    margin-top: 1em;
    border-radius: 1px 1px 1px 1px;
    box-shadow: inherit 0 1px 10px 3px rgba(0, 0, 0, 0.075);
  }
  .txt-space{
    margin-left: 2em;
  }


/*with id css's*/    
  #qa-form{
  }
  .select{
    /*width: 172px;*/
    height: 35px;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 1px 1px 1px 1px;
    padding-left: 20px;
    border: 1px solid #c4c4c4;
    margin-bottom: 5px;
  }
  .select:focus{
    border: 1px solid grey;  
  }
  
  #qa-btn{
  }
  .qa-btn-default{
    color: #838b97;
    background-color: #FFFF99;
    height: 35px;
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    border: 1px solid #eeef91;
  }
  .qa-btn-default:hover{
    background-color:  #edee7b;
    color: grey;
    border: 0px solid grey;
  }

  #qa-nav{

  }
  .nav-menu li{
    color: #838b97;
  }
  .nav-menu li:hover{
    background-color: #ffffdb;
    color: #fbfb03;
  }
  .nav-menu li a:hover{
    background-color: #ffffdb !important;
    color: #fbfb03;
  }

  